@import "./normalize.css";
@import "./reset.css";
@import "./fonts.css";

html {
  font-size: 10px;
}

* {
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

:root {
  --headStyle: Georgia, "RobotoSansSerif", sans-serif;
  --paragStyle: Arial, "GelasioSerif", serif;
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGrey: rgb(128, 128, 128);
  --colorLightGrey: rgb(211, 211, 211);
  --colorGold: rgb(255, 215, 0);
  --colorSilver: rgb(192, 192, 192);

  --colorBlue: rgb(0, 0, 255);
  --colorGreen: rgb(0, 128, 0);
  --colorRed: rgb(255, 0, 0);

  --rowWidth: 1420px;
}

.row {
  width: var(--rowWidth);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: var(--headStyle);
}

.paragraph {
  font-family: var(--paragStyle);
}
