.cart-box {
  width: var(--cartBoxWidth);
  height: var(--cartBoxHeight);
  margin-left: auto;
  margin-right: 0;
  margin-top: 5rem;
  margin-bottom: 5.5rem;
  position: sticky;
  top: 5.5rem;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.ctbx-head-box {
  height: var(--boxHeadBoxHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxheadBG);
  padding: 0.5rem;
  border-radius: 1rem 1rem 0 0;
}

.ctbx-head {
  width: var(--boxHeadWidth);
  color: var(--colorSilver);
  font-size: var(--boxHeadFZ);
  text-align: right;
  font-weight: 600;
}

.ctbx-head-img {
  width: var(--boxImgWidth);
  height: var(--boxImgHeight);
  background-size: 70% 85%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/empCartGold.png);
  border: 0.15rem solid var(--colorGold);
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: auto;
}

.ctbx-card-field {
  height: var(--ctbxCardFieldHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorLightGrey);
  padding: 0.5rem;
  z-index: 2;
  overflow: auto;
}

.ctbx-card-field::-webkit-scrollbar {
  width: 0;
}

.empty-field::before {
  content: "Your cart is empty!";
  font-size: var(--ctbxEmptyFieldFZ);
  margin-top: 10rem;
}

.ctbx-total {
  height: var(--ctbxBtnBoxHeight);
  background-color: var(--boxheadBG);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  margin-top: auto;
  margin-bottom: 0;
  z-index: 2;
}

.ctbx-total-text {
  color: var(--colorSilver);
  font-size: var(--ctbxTotalTextFZ);
  font-weight: 600;
  margin-left: 1rem;
}

.ctbx-total-price {
  font-size: var(--ctbxTotalPriceFZ);
  color: var(--colorGold);
  margin-left: 1rem;
}

.ctbx-total-sign {
  color: var(--colorGreen);
  font-size: var(--ctbxTotalSignFZ);
  font-weight: 600;
  margin-left: 0.5rem;
}

.ctbx-btn-box {
  width: 100%;
  height: var(--ctbxBtnBoxHeight);
  background-color: var(--boxheadBG);
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.ctbx-order-btn {
  width: 100%;
  font-size: var(--ctbxOrderBtnFZ);
  font-weight: 600;
  color: var(--colorSilver);
  background-color: var(--colorBlue);
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/orderCartSilver.png);
  background-size: 3.5rem 3rem;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  padding: 1rem;
  border: 0.25rem solid var(--colorSilver);
  border-radius: 0.5rem;
}

.cart-box:hover .ctbx-card-field {
  transition: background-color 0.3s linear;
  background-color: var(--colorWhite);
}

.cart-box:hover .ctbx-btn-box {
  transition: bottom 0.3s linear;
  bottom: -5.5rem;
}

.ctbx-order-btn:hover {
  color: var(--colorGold);
  background-color: var(--colorGreen);
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/orderCartGold.png);
  border-color: var(--colorGold);
}

/* cartBox card start*/

.ctbx-card {
  width: var(--ctbxCardWidth);
  background-color: var(--boxheadBG);
  padding: 0.5rem;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 4.5rem;
}

.ctbx-card-cont-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--boxheadBG);
  z-index: 2;
}

.ctbx-card-img-box {
  width: var(--ctbxCardImgBoxWidth);
  margin: auto 0;
}

.ctbx-card-img {
  width: 100%;
  border-radius: 1rem;
}

.ctbx-card-info-box {
  width: var(--ctbxCardInfoBoxWidth);
}

.ctbx-card-head {
  font-size: var(--ctbxCardHeadFZ);
  color: var(--colorGold);
  text-align: center;
  margin-top: 1rem;
}

.ctbx-card-parag {
  font-size: var(--ctbxCardParagFZ);
  color: var(--colorSilver);
  text-align: center;
  margin-top: 1rem;
}

.ctbx-card-stat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.ctbx-card-count {
  color: var(--colorGold);
  font-size: var(--ctbxCardStatTextFZ);
}

.ctbx-card-x {
  color: var(--colorWhite);
  font-size: var(--ctbxCardStatXFZ);
  margin: 0 1rem;
}

.ctbx-card-sum {
  color: var(--colorGold);
  font-size: var(--ctbxCardStatTextFZ);
}

.ctbx-card-sign {
  color: var(--colorGreen);
  font-size: var(--ctbxCardStatTextFZ);
  font-weight: 600;
  margin-left: 0.5rem;
}

.ctbx-card-act-box {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--boxheadBG);
  width: 100%;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: end;
}

.ctbx-card-minus-btn,
.ctbx-card-plus-btn,
.ctbx-card-remove-btn {
  height: var(--ctbxCardBtnWidth);
  background-repeat: no-repeat;
  background-color: var(--colorBlue);
  border: 0.2rem solid var(--colorSilver);
  border-radius: 2rem;
}

.ctbx-card-minus-btn,
.ctbx-card-plus-btn {
  background-size: 2.3rem 2.3rem;
  background-position: 50% 50%;
}

.ctbx-card-minus-btn {
  width: var(--ctbxCardBtnWidth);
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/minusSilver.png);
  margin-left: 0.5rem;
}

.ctbx-card-plus-btn {
  width: var(--ctbxCardBtnWidth);
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/plusSilver.png);
  margin: 0 1rem;
}

.ctbx-card-remove-btn {
  width: var(--ctbxCardRemoveBtnWidth);
  font-size: var(--ctbxCardRemoveBtnFZ);
  color: var(--colorSilver);
  font-weight: 600;

  background-size: 2.5rem 2rem;
  background-position: 90% 50%;
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/remCartSilver.png);

  text-align: left;
  padding-left: 0.7rem;
  margin-right: 0.5rem;
}

.ctbx-card:hover .ctbx-card-act-box {
  transition: bottom 0.3s linear;
  bottom: -4rem;
}

.ctbx-card-minus-btn:hover,
.ctbx-card-plus-btn:hover,
.ctbx-card-remove-btn:hover {
  border-color: var(--colorGold);
}

.ctbx-card-minus-btn:hover,
.ctbx-card-remove-btn:hover {
  background-color: var(--colorRed);
}

.ctbx-card-minus-btn:hover {
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/minusGold.png);
}

.ctbx-card-plus-btn:hover {
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/plusGold.png);
  background-color: var(--colorGreen);
}

.ctbx-card-remove-btn:hover {
  background-image: url(./../../icon/bookShop-icon/bookShop-main-icon/remCartGold.png);
}

.hidden {
  display: none;
}
