.header {
  background: var(--bgHead);
  padding: 1rem 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.header-logo-box {
  width: var(--headLogoWidth);
}

.header-logo-img {
  width: 100%;
}

.header-cont-box {
  width: var(--headContWidth);
}

.header-nav-box {
  width: var(--headNavWidth);
  margin-right: 0;
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  justify-content: space-around;
}

.header-nav-link {
  position: relative;
  color: var(--colorSilver);
  font-size: var(--headNavFZ);
  font-weight: 600;
}

.header-nav-link:hover {
  color: var(--colorGold);
}

.header-nav-list .header-nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.3rem;
  display: block;
  height: 0.15rem;
  background-color: var(--colorGold);
  border-radius: 1rem;
}

.header-heading {
  color: var(--colorGold);
  font-size: var(--headHeadFZ);
  font-weight: 600;
  margin: 1rem 0;
}
