:root {
  --bgHead: linear-gradient(130deg, rgb(105, 80, 61) -17.38%, rgb(39, 28, 20) 78.4%), rgb(14, 7, 1);
  --bgHead2: radial-gradient(100% 215.42% at 0% 0%, rgb(240, 137, 64) 0%, rgb(126, 72, 34) 100%), rgb(17, 9, 3);

  --headLogoWidth: 10%;

  --headContWidth: 70%;

  --headNavWidth: 70%;
  --headNavFZ: 1.5rem;

  --headHeadFZ: 5rem;

  --headImgWidth: 12.5rem;

  --bgMain: rgb(230, 184, 115);

  --cardBoxWidth: 70%;

  --boxHeadBoxHeight: 4.5rem;

  --boxHeadWidth: 60%;
  --boxheadBG: rgb(100, 65, 15);
  --boxHeadFZ: 3rem;

  --boxImgWidth: 5rem;
  --boxImgHeight: 3.5rem;

  --cdbxCardWidth: 21rem;
  --cdbxCardHeight: 40rem;

  --cdbxCardHeadFZ: 1.7rem;

  --cdbxCardParagFZ: 1.7rem;

  --cdbxCardPriceFZ: 2.5rem;

  --cdbxCardBtnBoxHeight: 5rem;

  --cdbxCardBtnHeight: 4rem;

  --cdbxCardShowBtnWidth: 12rem;

  --cdbxCardAddBtnWidth: 7rem;

  --cdbxCardBtnFZ: 1.5rem;

  --cartBoxWidth: 25%;
  --cartBoxHeight: 63rem;

  --ctbxCardFieldHeight: 52rem;

  --ctbxEmptyFieldFZ: 3rem;

  --ctbxBtnBoxHeight: 6.5rem;

  --ctbxTotalTextFZ: 2rem;
  --ctbxTotalPriceFZ: 3rem;
  --ctbxTotalSignFZ: 2.5rem;

  --ctbxOrderBtnFZ: 2rem;

  --footContHeadFZ: 2.5rem;

  --footContLinkFZ: 2rem;
  --footContLinkHeight: 3rem;

  --footContLinkMailWidth: 24rem;
  --footContLinkPhoneWidth: 15rem;
  --footContLinkTelegramWidth: 15rem;

  --footerImgWidth: 20rem;

  --footDevLinkHubWidth: 12.5rem;
  --footDevLinkLogoWidth: 15rem;

  --orderFormBoxWidth: 70%;

  --orfmHeadBtnWidth: 14rem;
  --orfmHeadBtnFZ: 1.5rem;

  --orfmLgdFZ: 2.5rem;

  --orfmSpanFZ: 2rem;

  --orfmInpFZ: 1.7rem;

  --orfmSubBtnWidth: 50%;

  --orfmSubBtnFZ: 2rem;

  --popupBoxWidth: 75rem;

  --popupImgBoxWidth: 30rem;

  --popupContBoxWidth: 58%;

  --popupClsBtnWidth: 3.5rem;

  --popupHeadFZ: 2.5rem;

  --popupParagAuthFZ: 2rem;

  --popupParagDescWidth: 95%;
  --popupParagDescFZ: 2rem;

  --popupActTextFZ: 3rem;

  --popupAddBtnWidth: 9rem;
  --popupAddBtnFZ: 2rem;

  --ctbxCardWidth: 100%;

  --ctbxCardImgBoxWidth: 10rem;

  --ctbxCardInfoBoxWidth: 67%;

  --ctbxCardHeadFZ: 1.7rem;

  --ctbxCardParagFZ: 1.7rem;

  --ctbxCardStatTextFZ: 2.5rem;
  --ctbxCardStatXFZ: 1.7rem;

  --ctbxCardBtnWidth: 3.5rem;
  --ctbxCardRemoveBtnWidth: 10rem;
  --ctbxCardRemoveBtnFZ: 1.5rem;

  --dropCardWidth: 11rem;
  --dropCardImgBoxWidth: 10rem;
  --dropCardInfoBoxFZ: 1rem;
  --dropCardPriceBoxFZ: 1.5rem;

  --errorMesageFZ: 1.5rem;
}
